*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    overflow: hidden;

}
.bg{
    position: relative;
    text-align: center;
}
.bg img{
    width: 100%;
    height: auto;
}
.overlay{
    position: absolute;
    top: 120px;
    left: 240px;
    width: 70%;
    height: 60%;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}
.container{
    text-align: center;
    padding: 60px;
}
.container h1{
    font-size: 2.2rem;
    margin-bottom: 20px;
}
.container h1::after{
    display: block;
    content: "";
    height: 2px;
    width: 55rem;
    background-color: white;
    margin: 10px auto 0;
}
.container p{
    font-size: 1.4rem;
    margin-top: 40px;
}
.btn{
margin-top: 40px;
    padding: 15px 30px;
background-color: black;
color: white;
border: none;
border-radius: 5px;
font-size: 1.2rem;
cursor: pointer;
transition: white 0.3s ease;
text-decoration: none;
}
.btn:hover{
    background-color: aquamarine;
    color: black;
}
